[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
tiktoken = "*"
unstructured = "*"
openai = "*"
faiss-cpu = "*"
pandas = "*"
requests = "*"

[dev-packages]
